<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<div class="col-xs-2  bg-blue">
    <br/>
    <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="true">
                <a href="/mem/apply_for_qualification/">会员资质申请</a>
            </a>
        </div>
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/mem/get_compact/">合同模板下载</a>
            </a>
        </div>
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/sys/all_mem_apply_for/">优惠活动</a>
            </a>

        </div>
    </div>
</div>