<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<div class="col-xs-2  bg-blue">
    <br/>
    <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="true">
                <a href="/sys/area_mgr/">区域信息管理</a>
            </a>
        </div>
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/sys/get_initiation_mem/">入会申请审批</a>
            </a>
        </div>
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/sys/all_mem_apply_for/">资质申请审批</a>
            </a>

        </div>
        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/sys/compact_mgr/">合同模板管理</a>
            </a>
        </div>

        <div class="panel panel-default menu-first" style="background: #ffffff">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               aria-expanded="false">
                <a href="/sys/search_mem_qualification/">客户资质查询</a>
            </a>
        </div>
    </div>
</div>